<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>255946994388-u55g5i839krkb0aihjajj312ln5jpn5b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.255946994388-u55g5i839krkb0aihjajj312ln5jpn5b</string>
	<key>API_KEY</key>
	<string>AIzaSyDF14H9YgzA5Y74SUXc3peQeIrcM-fqeYo</string>
	<key>GCM_SENDER_ID</key>
	<string>255946994388</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.fireboltcasters.rocketmealsdemo</string>
	<key>PROJECT_ID</key>
	<string>rocketmeals-6ed2e</string>
	<key>STORAGE_BUCKET</key>
	<string>rocketmeals-6ed2e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:255946994388:ios:957d7b5bfd6649577c0141</string>
</dict>
</plist>